<div layout="column">
	<section layout-wrap>
		<md-button ng-click="getAccessToken()" class="md-raised md-primary" href="{{authLink}}">Get Auth Code</md-button>
	</section>
</div>
<div layout="column" ng-cloak class="md-inline-form">
	<form novalidate>
		Name:<br>
		<input type="text" ng-model="donation.name"><br>
		Email address:<br>
		<input type="text" ng-model="donation.email">
		Amount:<br>
		<input type="text" ng-model="donation.amount"><br>
		Message:<br>
		<input type="text" ng-model="donation.message">
		<br><br>

		
		Card Number:<br>
		<input type="text" ng-model="transaction.cardnumber">
		expMonth:<br>
		<input type="text" ng-model="transaction.expmonth"><br>
		expYear:<br>
		<input type="text" ng-model="transaction.expyear">
		CVC:<br>
		<input type="text" ng-model="transaction.cvc">
		<br><br>




		<section layout-wrap>
			<md-button ng-click="processSimplifyTxns(transaction)" class="md-raised md-primary">Process Transaction</md-button>
		</section>
	</form>
</div>