<div layout="column" ng-cloak class="md-inline-form">
	<div input-field>
		<label>Card Number</label>
		<input type="text" ng-model="transaction.number" length="150">
		<a  class="btn col s4 offset-s4 l2 offset-l1" > Bottom</a>
</div>
	<input-field>
		<label>Expiry Month</label>
		<input type="text" ng-model="transaction.expMonth" length="2" ng-minlength="2" maxlength="2">
	</input-field>
	<input-field>
		<label>Expiry Year</label>
		<input type="text" ng-model="transaction.expYear" length="2" ng-minlength="2" maxlength="2">
	</input-field>
	<input-field>
		<label>CVC</label>
		<input type="text" ng-model="transaction.cvc" length="150">
	</input-field>

		<!-- Donation-->
	<input-field>
		<label>Name</label>
		<input type="text"  ng-model="donation.name" length="150">
	</input-field>
	<input-field>
		<label>Email Address</label>
		<input type="text" ng-model="donation.email" length="150">
	</input-field>
	<input-field>
		<label>Amount</label>
		<input type="text" ng-model="donation.amount" length="150">
	</input-field>
	<input-field>
		<label>Message</label>
		<textarea ng-model="donation.message" class="materialize-textarea"></textarea>
	</input-field>

	<section layout-wrap>
		<md-button ng-click="processSimplifyTransaction(transaction, donation)" class="md-raised md-primary">Donate</md-button>
	</section>
</div>